dbname=;itk;
dbtableBKP=;tk_bkp;
dbtable_field_BKP=;id_BKP INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,dl_date DATE NOT NULL,dateTk DATE,openTk NUMBER(8,2),highTk NUMBER(8,2),lowTk NUMBER(8,2),closeTk NUMBER(8,2),volumeTk NUMBER(8,2),adjTk NUMBER(8,2);
dbtable_fill_BKP=; (dl_date,dateTk ,openTk,highTk,lowTk,closeTk,volumeTk,adjTK) VALUES (?,?,?,?,?,?,?,?);
dbtableDWL=;tk_dwl;
dbtable_field_DWL=;ID_DWL INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,TK_NAME VARCHAR2(20) NOT NULL ,DATE_LAST_DWL DATE NOT NULL, SELF_DWL INTEGER NOT NULL,NEXT_DWL INTEGER NOT NULL;
dbtable_fill_DWL=; (TK_NAME, DATE_LAST_DWL,SELF_DWL ,NEXT_DWL) VALUES (?,?,?,?);
dbtable_get=;SELECT * FROM ? WHERE ? = ?;
savedTickerPath=;/home/emanuele/Desktop;
