dbname=;itk;
dbtable=;tk;
dbtable_field=;id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,dl_date DATE NOT NULL,dateTk DATE,openTk NUMBER(8,2),highTk NUMBER(8,2),lowTk NUMBER(8,2),closeTk NUMBER(8,2),volumeTk NUMBER(8,2);
dbtable_fill=; (dl_date,dateTk ,openTk,highTk,lowTk,closeTk,volumeTk) VALUES (?,?,?,?,?,?,?);
dbtable_get=;SELECT * FROM ? WHERE ? = ?;
